[Desktop Entry]
Type=Application
Name=Deluxe Sticky Notes
Name[tr]=Deluxe Yapışkan Notlar
Comment=Simple desktop sticky notes
Comment[tr]=Basit masaüstü yapışkan notları
Keywords=notes;sticky;todo;reminder;alarm;
Keywords[tr]=not;yapışkan;yapılacaklar;hatırlatıcı;alarm;
Exec=deluxe-sticky-notes
Icon=io.github.Snemege.DeluxeStickyNotes
Categories=GNOME;GTK;Utility;
Terminal=false
StartupNotify=true
StartupWMClass=io.github.Snemege.DeluxeStickyNotes
Actions=show-all;new-note;

[Desktop Action show-all]
Name=Show all notes
Name[tr]=Tüm notları göster
Exec=deluxe-sticky-notes --show-all

[Desktop Action new-note]
Name=New note
Name[tr]=Yeni not
Exec=deluxe-sticky-notes --new-note
